

<mat-card class="card h-100">
    <mat-card-title class="d-flex justify-content-between align-items-center">
    <p> {{playerObj.playerName}}</p>
    <p> {{playerObj.country | uppercase}}</p>
    </mat-card-title>
   <mat-divider inset></mat-divider>
    <mat-card-content>
       <h4> PlayerInfo :  {{playerObj.playerInfo}}</h4>
       <h4>  SportType : {{playerObj.sportType}}</h4>
     IsActivePlayer :  <span  [ngClass]="{
          'text-success' : playerObj.isActivePlayer,
          'text-danger' : !playerObj.isActivePlayer
       }">   {{playerObj.isActivePlayer? 'Active' : 'InActive'}}</span>
    </mat-card-content>
       <mat-divider inset></mat-divider>

    <mat-card-footer class="d-flex justify-content-between">
        <button mat-mini-fab color="primary" class="m-3"  (click)="onEdit()"> <mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warn" class="m-3" (click)="onRemove()"> <mat-icon>delete</mat-icon></button>
    </mat-card-footer>
</mat-card>
